@charset "utf-8";
div {
	column-count: 5; 
	column-gap: 30px;
	column-width: 150px;
	//column-rule-style: solid;
	//column-rule-width: 4px;
	//column-rule-color: green;
	column-rule: 2px  dotted red;
s}