@charset "utf-8";
ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	background-color: #848383;
	overflow: hidden;
	position: fixed;
	top: 0;
	width: 100%;
}
li{
	float: left;
	width: 100%;
	height: 50px;
	display: block;
	line-height: 50px;
	text-align: center;
	font-size: 16px;
	cursor: pointer;
}
li a{
	text-decoration: none;
	color: black;
	display: block;
	padding: 15px;
}
li a:hover{
	background-color: #000000;
}
li ul{
	display: none;
}
li:hover > ul{
	display: block;
	position: relative;
}
li ul li {
	background-color: black;
	color: #FFFDFD;
	border: 1px solid #3F3C3C;
	float: none;
	transition: all 0.5s;
}
li ul li :hover{
	background-color: darkblue;
	margin-left: 5px;
}
.menudiv {
	width: 100%;
	background-color: #FAF3F3;
	float: left;
}