@charset "utf-8";
ul.pages li {
	display: inline;
}
ul.pages li a{
	color: black;
	text-decoration: none;
	float: left;
	padding: 10px 15px;
}
ul.pages li a.green{
	background-color: green;
	color: aliceblue;
	border-radius: 3px;
}
ul.pages li a:hover:not(.green){
	background-color: #ADADAD;
	border-radius: 3px;
}