@charset "utf-8";
#div {
	width: 800px;
	height: 300px;
	margin-left: auto;
	margin-right: auto;
	background: linear-gradient(#223366, #369655);
	box-shadow: 20px 15px 20px black;
}
h1{
	text-align: center;
	font-size: 75px;
	padding-top: 110px;
	text-shadow: 5px 10px 5px white;
}
button{
	width: 150px;
}
button :hover{
	box-shadow: 5px 5px 5px black;
}