@charset "utf-8";
.img1 {
	width: 350px;
	height: auto;
	margin-left: 300px;
	margin-top: 100px;
	transform: rotate(20deg);
	transform: translate(10px,50px);
	transform: skew(3,3);
	transform: scale(10deg,20deg);
	transition: all 0.5s;
}
.img1 :hover {
	transform: rotate(-10deg);
}